body {
    background-color: white;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu_container{    
    font-weight: 30px;
    display: flex;
    justify-content: space-between;
    height: 110px;
    padding: 0px;
    background-color:RGB(247, 202, 201);  
    margin:0px;
    align-items: center;
    color: black;
}

.item{
    flex-grow: 1;
    height: 100px;  
    text-align: center;
    border-radius: 10px;
    width: 20%; 
    flex: 5;
    padding: 5px;
    font-size: 40px;
    line-height: 80px;
    justify-content: space-between;
    margin: 7px;
    font-family: 'Annie Use Your Telescope';
    letter-spacing: 2px;  
}

.item + .item {
    margin-left: 5%;    
    padding: 0px;
    justify-content: space-between;
}

.rubrik { 
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 15;
    color: black;
    padding: 20px;
    margin: 20px;
    font-family: 'Annie Use Your Telescope';   
    align-content: space-between;
    letter-spacing: 2px;
}
 
.container1 {
    display: flex;
    justify-content: center;
    margin-left: 58px;
}

.item1 {
    width: 100%;
    position: relative;
    padding-bottom: 20%; 
    margin-bottom: 3%;
    padding: 20px;
   
}
  
.item1 + .item1 {
    margin-left: 2%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgb(245, 179, 185);
    padding:30px;
    margin: auto;
}   

.container-footer{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;  
}

.footer{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 6px;
    padding: 0; 
    border-style: solid none none;
}

.logo{
    width: auto;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemcc{
    font-family: 'Annie Use Your Telescope'; font-size: 22px;
}

.container-omoss{ 
    padding: 40px;
    font-size: 28px;
    font-family: 'Annie Use Your Telescope';
    margin:0;
}

.container-kontakt{
    padding: 40px;
    font-size: 25px;
    font-family: 'Annie Use Your Telescope';
    margin:0;
}

.instagram{
    height: 40px;
    width: auto;
    padding-bottom: 22px;
    padding-left: 10px;
}

.facebook{
    height: 40px;
    width: auto;
    padding-bottom: 22px;
}

.twitter{
    height: 40px;
    width:auto;
    padding-bottom: 22px;
    padding-left: 10px;
}

.pinterest{
    height: 40px;
    width: auto;
    padding-bottom: 22px;
}

.pris{
    font-family: 'Annie Use Your Telescope';
    font-size: 30px;
}
